theorie_intro_bak2/
theorie/graphe/*.pdf
theorie_intro_bak/
simulation/graphe/post-collapse.xcf
master.mt*
master.to*
master.bb*
master.bl*
graphe/*.pdf
graphe/vlasov_gadget/*.pdf
old.*
vlasov_gadget_bak/
vlasov_gadget_bak2/
*.aux
master.l*
master.maf
master.out
tmp/
matlab/
*.log
.bibtex_completer.json
.ropeproject/
