*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.maf
*.mtc*
*.out
*.toc
*.old
*.gnuplot
*.pdf
*.bak
numerique_erreur.tex
cr.tex
citation.list
matlab
.gitignore
graphe_back-up/*
.ropeproject/
old.joyceetal
old.tex
theorie/intro.tex
.bibtex_completer.json
tmp/analyse_simus.tex
tmp/com_steph.pdf
vlasov_gadget_bak/
